# LaTeX gitignore

# Ignore LaTeX build files
*.aux
*.log
*.synctex.gz
*.fls
*.fdb_latexmk
*.toc
*.bbl
*.blg
*.out
*.dvi
*.lof
*.lot
*.gz
*.ist
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.fls
*.out
*.xdy
*.loa
*.lof
*.lot
*.nav
*.snm
*.vrb
*.gz
*.xdv
*.fdb_latexmk
*.synctex(busy)
*.synctex.gz(busy)
*.synctex.gz
*.synctex
*.pdfsync
*.bak
*.backup
*.swp
*.dvi
*.ps